  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
  <p>
    <%= comment.body %>
  </p>

  <p>
    <button class="btn-primary"> 
      <%= link_to 'Delete Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
    </button>  

 
  </p>