.header{
  font-size: 50px;
  text-align: center;
}

.subtitle {
  font-size: 32px;
  font-style: italic;
  text-align: center;
}

#new-article a{
  color: white;
}

button a{
  color: white;
}
button a:hover{
  color: white;
  text-decoration: none;
}

#show-article {
  padding-top: 20px;
  padding-right: 20px;
  width: 75%;
}

#index-table {
  padding-top: 30px;
}

td#article-text {
  width: 70%;
}

td a {
  padding-left: 5px;
  text-align: center;
}

th {
  font-size: 20px;
}